*(copy)*
*bak*
*.*~
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
build/
develop-eggs/
eggs/
fake-eggs/
parts/
dist/
*.pyc
*.pyo
*.tmp*
*.swp
*.vim
.tox/
*.log
*.sh
.coverage
release*
TODO
LAB_*
tasks/
CHECKLIST
*yop*
apps/
.virtualenv
_build/
LAB/
spin
Makefile
