*(copy)*
*bak*
*.*~
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
build/
develop-eggs/
eggs/
fake-eggs/
parts/
dist/
_build/
.tox/
*.pyc
*.pyo
*.tmp*
*.swp
*.vim
*.log
*.sh
.coverage
.metacache
tasks/
apps/
spin/
CONTRIB
LIB
LAB*
CHECKLIST
TODO
release*
.virtualenv
*yop*
Makefile
