*(copy)*
*bak*
*.*~
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
*-local*
build/
develop-eggs/
eggs/
fake-eggs/
parts/
dist/
_build/
.tox/
*.pyc
*.pyo
*.tmp*
*.swp
*.vim
*.log
*.sh
*.release
.isort.cfg
.coverage
.metacache
*tasks*
oneapps/
spin/
CONTRIB
LIB
LAB*
CHECKLIST
TODO
*release*
.virtualenv
.vscode
*yop*
Makefile
ARCHIVE
requirements*.ini
.project
.bandit
.requirements-local
.pre-commit-config.yaml
.changelog*
*pre-commit*
tasks.py
pyproject.toml
.requirements-local
.gitignore
.gitattributes
.bandit
.checkignore
.codespellrc
.editorconfig
.flake8
.isort.cfg
.noserc
.pep8
.pre-commit-*
*poetry*
.pylintrc
.style.yapf
.yamllint
.yapfignore
.change*
.coveragerc
.pep257
.gitignore
