coverage[toml]==6.2
flake8==5.0.4
flake8-bugbear==22.9.23
flake8-commas==2.1.0
flake8-docstrings==1.6.0
flake8-import-order==0.18.1
isort==5.10.1
pep8-naming==0.13.1
pytest==7.0.1
pytest-cov==3.0.0
wheel==0.37.1
yapf==0.32.0
